/* CSS file placeholder. */


a { color: #FFF; }
/*
h1 {
  margin-top: 100px;
  text-align: center;
  font-size: 30px;
  line-height: 70px;
  font-family: 'roboto', sans-serif;
}
*/
#container {
  margin: 0 auto;
  max-width: 890px;
  
}

/*p { text-align: center; }*/
 .toggle, [id^=drop] {
 display: none;
}

#Hamburger {
  display: block;
  padding: 0 30px;
  float: left;
  font-size: 11px;
  line-height: 30px;
  color: #222;
}

#Hamburger>a {
  color: #222;
}

#Hamburger:hover {
  color: #aaa;
  background-color: #555;
}
#Hamburger>a:hover {
  color: #aaa;
}

#Hamburger>a:before {
  
    vertical-align: center;
    content: url('../img/gui/burger.png');
    position: absolute;
    top: 0px;
    left: 0px;
}

#Hamburger>a:hover:before {
  color: #aaa;
    content: url('../img/gui/burger_hover.png');
}








#logo {
  display: block;
  padding: 0 30px;
  float: right;
  font-size: 11px;
  line-height: 30px;
  color: #222;
}

#logo>a {
  color: #222;
}

#logo:hover {
  color: #aaa;
  background-color: #555;
}
#logo>a:hover {
  color: #aaa;
}
/*
#logo:before {
  
    vertical-align: center;
    content: url('../assets/icon_20.png');
    position: relative;
    top: 4px;
    left: 5px;
}
*/
.menubar nav {
  margin: 0;
  padding: 0;
  /*background-color: darkorange;*/
  background-color: "#f76300"
}

.menubar nav:after {
  content: "";
  display: table;
  clear: both;
}

.menubar nav ul {
  float: left;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.menubar nav ul li {
  margin: 0px;
  display: inline-block;
  float: left;
  background-color: #333;
}

/*
nav ul li:before {
    content: url('../assets/icon_16.png');
    position: absolute;
    left: 10px;
    
}
*/

.menubar nav a {
  display: block;
  padding: 0 10px;
  color: #bbb;
  font-size: 11px;
  line-height: 32px;
  text-decoration: none;
}

.menubar nav ul li:hover { color: #fff; background-color: darkorange;}
.menubar nav ul li ul li:hover { color: #fff; background-color: #0094f7;}

.menubar nav a:hover { color: #fff;}


/* Menu Drop Down Items */

.menubar nav ul li ul li > a
{
  position: relative;
  left: 32px;
}
.menubar nav ul li ul li > a:before
{
    vertical-align: center;
    /*content: url('../assets/icon_16.png');*/
    top: 4px;
    left: -15px;
  position: absolute;
}

/* File Icons */
nav a[data-icon="icon-new"]::before { content: url('../img/tlbr/file/new.png'); }
nav a[data-icon="icon-open"]::before { content: url('../img/tlbr/file/open.png'); }
nav a[data-icon="icon-import"]::before { content: url('../img/tlbr/file/import.png'); }
nav a[data-icon="icon-export"]::before { content: url('../img/tlbr/file/export.png'); }
nav a[data-icon="icon-quit"]::before { content: url('../img/tlbr/file/exit.png'); }

/* View Icons */
nav a[data-icon="icon-view-textured"]::before { content: url('../img/tlbr/view/render/texture.png'); }
nav a[data-icon="icon-view-shadededge"]::before { content: url('../img/tlbr/view/render/edge.png'); }
nav a[data-icon="icon-view-shaded"]::before { content: url('../img/tlbr/view/render/shaded.png'); }
nav a[data-icon="icon-view-wireframe"]::before { content: url('../img/tlbr/view/render/wireframe.png'); }
nav a[data-icon="icon-view-normal"]::before { content: url('../img/tlbr/view/render/normal.png'); }
/**/
nav a[data-icon="icon-view-front"]::before { content: url('../img/tlbr/view/set/view_front.png'); }
nav a[data-icon="icon-view-back"]::before { content: url('../img/tlbr/view/set/view_back.png'); }
nav a[data-icon="icon-view-left"]::before { content: url('../img/tlbr/view/set/view_left.png'); }
nav a[data-icon="icon-view-right"]::before { content: url('../img/tlbr/view/set/view_right.png'); }
nav a[data-icon="icon-view-top"]::before { content: url('../img/tlbr/view/set/view_top.png'); }
nav a[data-icon="icon-view-bottom"]::before { content: url('../img/tlbr/view/set/view_bottom.png'); }
nav a[data-icon="icon-view-front"]::before { content: url('../img/tlbr/view/set/view_front.png'); }
nav a[data-icon="icon-view-iso"]::before { content: url('../img/tlbr/view/set/view_iso.png'); }

nav a[data-icon="icon-view-ortho"]::before { content: url('../img/tlbr/view/set/view_ortho.png'); }
nav a[data-icon="icon-view-persp"]::before { content: url('../img/tlbr/view/set/view_perspective.png'); }

/* Tools Icons */
nav a[data-icon="icon-tools-measure"]::before { content: url('../img/tlbr/tools/measure.png'); }
nav a[data-icon="icon-tools-measure-angle"]::before { content: url('../img/tree/node_measure_angle.png'); }
nav a[data-icon="icon-tools-debug"]::before { content: url('../img/tlbr/tools/debug.png'); }

/* About Menu*/
nav a[data-icon="icon-logo-vrtx"]::before { content: url('../img/icon/vrtx_logo_16.png'); }


/* Arrow Noting Nested Dropdown */
.menubar nav ul ul li > a:after { 
  /*
  content: '\25B8'; 
  */
  content: url(../img/gui/bullet_arrow_right.png);
  float: right; 
  position: absolute;
  right: 35px;
  top: 4px;
}


.menubar nav ul ul {
  display: none;
  position: absolute;
  top: 32px;
  
}

.menubar nav ul li:hover > ul { display: inherit; }

.menubar nav ul ul li {
  width: 170px;
  float: none;
  display: list-item;
  position: relative;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.75);
    
}

.menubar nav ul ul ul li {
  position: relative;
  top: -32px;
  left: 170px;
}

.menubar nav ul li ul li hr#splitter {
    padding: 0px 10px 0px 10px;
    margin: 0px 5px 0px 5px;
    color: #888;
    background-color: #888;
    font-size:1%;
    width:100% - 10px; 
    height:1px; 
    border: 0;
}
.menubar nav ul li ul li hr#splitter:hover {
    color: #888;
    background-color: #888;
}

.menubar li > a:only-child:after { content: ''; }


/* Media Queries
--------------------------------------------- */

@media all and (max-width : 768px) {

#logo {
  display: block;
  padding: 0;
  width: 100%;
  text-align: center;
  float: none;
}



.menubar nav { margin: 0; }

.toggle + a,
 .menu { display: none; }

.toggle {
  display: block;
  background-color: #254441;
  padding: 0 20px;
  color: #FFF;
  font-size: 20px;
  line-height: 60px;
  text-decoration: none;
  border: none;
}

.toggle:hover { background-color: #000000; }

.menubar [id^=drop]:checked + ul { display: block; }

.menubar nav ul li {
  display: block;
  width: 100%;
}


.menubar nav ul ul .toggle,
 nav ul ul a { padding: 0 40px; }

.menubar nav ul ul ul a { padding: 0 80px; }

.menubar nav a:hover,
.menubar  nav ul ul ul a { background-color: #000000; }

.menubar nav ul li ul li .toggle,
.menubar  nav ul ul a { background-color: #212121; }


.menubar nav ul ul {
  float: none;
  position: static;
  color: #ffffff;
}

.menubar nav ul ul li:hover > ul,
.menubar nav ul li:hover > ul { display: none; }

.menubar nav ul ul li {
  display: block;
  width: 100%;
}

.menubar nav ul ul ul li { position: static;

}
}

@media all and (max-width : 330px) {

nav ul li {
  display: block;
  width: 94%;
}

}
