/* The Modal 50% Opace Black background */
.modal_openFile {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}


/* Modal Content */
.modal_openFile-content {
    position: relative;
    background-color: #2e2e2e;
    margin: auto;
    padding: 10px;
    border: 1px solid #555;
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.75),0 6px 20px 0 rgba(0,0,0,0.75);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.75s;
    font-size: 11px;
    line-height: 16px;
    text-align: left;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:0px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:0px; opacity:0}
    to {top:0; opacity:1}
}

.modal_openFile-content #intro_logo {
   padding: 2px 16px;
    color: white;
    position:absolute;
   left:25px;
   top:50px; 
}
.modal_openFile-title {
    color: white;
    font-size: 18px;
    text-align: left;
}

.modal_openFile-subtitle {
    color: #aaa;
    font-size: 16px;
}

.modal_openFile-description {
    color: #888;
}

.modal_openFile hr#splitter {
    padding: 0px 10px 0px 10px;
    margin: 0px 5px 0px 5px;
    color: #555;
    background-color: #777;
    font-size:1%;
    height:1px; 
    border: 0;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal_openFile-header {
    padding: 2px 16px;
    background-color: darkorange;
    color: black;
        font-size: 12px;
    line-height: 32px;
}

.modal_openFile-body {
  padding: 2px 16px; 
  float:left;
  color: #ffffff;
}

.modal_openFile-footer {
    padding: 2px 16px;
    color: white;
    position:absolute;
   right:0px;
   bottom:0px;
}


/* Open File Buttons */
.modal_openFile-btn {
   display:block; /* change this from inline-block */
    width:200px; /* setting the width */
    margin:0 auto; /* this will center  it */
    position:relative;
    background-color: #2e2e2e;
    border: 1px solid #555;
    padding: 5px;
    height: 48px;
    font-size: 12px;
    color: #ccc;
    vertical-align: middle;
    transition: all 0.3s ease;
}

.modal_openFile-btn:hover {
    background-color: #444;
    border: 1px solid #00bfff;
    box-shadow: 4px rgba(0,0,0,0.75);
}

.modal_openFile-btn-img {
    margin-right: 5px;    
    vertical-align: middle;
}
.modal_openFile-btn-img[data-icon="open_local"]{
    content: url('../img/io/open_local.png');
}

.modal_openFile-btn-img[data-icon="open_gdrive"]{
    content: url('../img/io/open_gdrive.png');
}


.modal_openFile-btn-txt {
    vertical-align: middle;
}