/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #333;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 550px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.75),0 6px 20px 0 rgba(0,0,0,0.75);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.75s;
    font-size: 11px;
    line-height: 16px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:0px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:0px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: darkorange;
    color: black;
        font-size: 12px;
    line-height: 32px;
}

.modal-body {
    font-family: Arial, Sans-serif;
    font-style: normal;
    font-weight: normal;
  padding: 2px 16px; 
  float:left;
  color: #ccc;
}


/* Open File Buttons */
.modal-btn {
   display:block; /* change this from inline-block */
    width:200px; /* setting the width */
    margin:0 auto; /* this will center  it */
    position:relative;
    background-color: #2e2e2e;
    border: 1px solid #555;
    padding: 5px;
    height: 48px;
    font-size: 12px;
    color: #ccc;
    vertical-align: middle;
    transition: all 0.3s ease;
}

.modal-btn:hover {
    background-color: #444;
    border: 1px solid #00bfff;
    box-shadow: 4px rgba(0,0,0,0.75);
}

.modal-btn[align="right"]{
    position: relative;
    right: 0px;
    vertical-align: right;
}

.modal-btn-img {
    margin-right: 5px;    
    vertical-align: middle;
}
.modal-btn-img[data-icon="open_local"]{
    content: url('../img/io/open_local.png');
}

.modal-btn-img[data-icon="open_gdrive"]{
    content: url('../img/io/open_gdrive.png');
}
.modal-btn-img[data-icon="cancel"]{
    content: url('../img/btns/cancel.png');
}

.modal-btn-img[data-icon="cancel"]{
    content: url('../img/btns/cancel.png');
}

.modal-btn-img[data-icon="warning"]{
    content: url('../img/btns/warning.png');
}


.modal-btn-txt {
    vertical-align: middle;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #222;
    color: white;
}







/* Open File Buttons */
.modal-result-item {
   display:block; /* change this from inline-block */
    width:95%; /* setting the width */
    margin:3px 5px auto; /* this will center  it */
    position:relative;
    background-color: #2e2e2e;
    border: 1px solid #2e2e2e;
    padding: 5px;
    /*height: 48px;*/
    font-size: 12px;
    color: #ccc;
    vertical-align: middle;
    transition: all 0.3s ease;
}

.modal-result-item:hover {
    background-color: #444;
    border: 1px solid #00bfff;
    box-shadow: 4px rgba(0,0,0,0.75);
}

.modal-result-item[type="error"]:hover {
    border: 1px solid #FF0000;
    }

.modal-result-item[type="warning"]:hover {
    border: 1px solid #F0E68C;
    }


.modal-result-item-title {
    vertical-align: middle;
    font-size: 14px;
    color: white;
}

.modal-result-item-file {
    font-weight: normal;
    vertical-align: middle;
    text-align: right;
    position: absolute;
    right: 10px;
    color: white;
}

.modal-result-item-txt {
    font-weight: normal;
    vertical-align: middle;
    position: relative;
    left: 38px;
}

.modal-result-item-img {
    margin-right: 5px;    
    vertical-align: middle;
}

.modal-result-item-img[data-icon="error"]{
    content: url('../img/btns/cancel.png');
}

.modal-result-item-img[data-icon="warning"]{
    content: url('../img/btns/warning.png');
}

