/* CSS file placeholder. */
*, html {
    margin:0; 
    padding:0; 
}

#loading {
width: 100%;
height: 100%;
top: 0px;
left: 0px;
position: fixed;
display: block;
opacity: 1;
background-color: #2a2a2a;
z-index: 99;
text-align: center;
    -webkit-transition: background-color 0;
    transition: background-color 0;
}
#loading-image {
background-color: #2a2a2a;
color: #2a2a2a;
position: absolute;
top: 20%;
left: 44%;
z-index: 600;
}
#loading-text{
  color: #888;
  position: absolute;
  top: 95%;
  left: 48%;
}
body {
  background: #333;
  color: #ffffff;
    overflow:hidden;
  /*
  font-size: 11px;
  line-height: 32px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  word-wrap: break-word !important;
  font-family: 'roboto', sans-serif;
  */
  /*transition: color .5s;*/
}

.measure
{
  font-size: 11px;
  background:#444;
  color: #ccc;
    padding: 2px 5px 3px 5px;
    border-radius: 5px;
    border: 1px solid #555;
    opacity: 0.85;
}
.measure:hover
{
  opacity: 1;
  color: white;
}




.footer
{
    display: inline-block;
  height:24px;
  line-height: 24px;
  background:#333;
    width: 100%;
}



#glcanvas3D, #model_treeview, #top_menu 
{
    transition: margin-left .5s;
  
}



.icon-bar {
    width: 100%;
    text-align: center;
    background-color: #555;
    overflow: auto;
}

.icon-bar a {
    width: 20%;
    padding: 12px 0;
    float: left;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #4CAF50 !important;
}




button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.2s;
    
    overflow-x: hidden;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796";
}

div.panel {
    padding: 0 18px;
    background-color: #333;
    max-height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    opacity: 0;
    color:#777;
    
    display: block;
}

div.panel.show {
    opacity: 1;
    max-height: 500px;
}

/*

Top Right Corner Title

*/
.corner-title
{
  color:#333;
  font-size: 13px;
  border: none;
  position:absolute;
  top:5px; 
  right:35px;
}

.img-header
{
  width:24px;
  border: none;
  position:absolute;
  top:2px; 
  right:5px;
}


.img-header[data-icon="logo"]
{
  content:url('../assets/icon_24.png');
}

/*

Bottom Left Corner Status Text

*/
.corner-status-text
{
  color:#aaa;
  border: none;
  position:absolute;
  bottom:1px; 
  left:5px;
}

/*

Footer images

*/
.img-footer
{
  width:24px;
  border: none;
  position:absolute;
  bottom:0px; 
  right:0px;
}

.img-footer[data-icon="build"]
{
  border: none;
  position:absolute;
  width:initial;
  bottom:1px; 
  right:72px;
}


.img-footer[data-icon="fb"]
{
  content:url('../img/social/Facebook-Icon.png');
}
.img-footer[data-icon="fb"]:hover
{
  content:url('../img/social/Facebook-Icon-Hover.png');
}

.img-footer[data-icon="twtr"]
{
  content:url('../img/social/Twitter-Icon.png');
  right:24px;
}

.img-footer[data-icon="twtr"]:hover
{
  content:url('../img/social/Twitter-Icon-Hover.png');
  right:24px;
}

.img-footer[data-icon="github"]
{
  content:url('../img/social/Github-Icon.png');
  right:48px;
}
.img-footer[data-icon="github"]:hover
{
  content:url('../img/social/Github-Icon-Hover.png');
  right:48px;
}

/*.img-footer[data-icon="build"]
{
  width:initial;
  content:url('https://img.shields.io/badge/build-beta%20%5Bv.%200.2.2%5D-blue.svg');
  bottom:1px; 
  right:72px;
}*/

.tg  {
  /*
    table-layout: fixed;
    width: 400px;*/
    border: none;
    border-collapse:collapse;
    border-spacing:0;
    text-align:left;
  
}
/*.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
*/.tg .tg-yw4l{vertical-align:top}
.tg .th-031e{
  vertical-align:top;
    content: '\02795';
  
}


