/*.ui-cntrl-properties body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}*/

.ui-cntrl-properties {
   /* height: 100%;*/
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 32px;
    right: -300px;
    background-color: #222;
    /*overflow-x: hidden;*/
    transition: 0.3s;
    /*opacity:0.75;*/
}

.ui-cntrl-properties-closebtn {
    position: absolute;
    top: -5px;
    right: 0px;
    font-size: 11px;
    margin-left: 50px;
    font-weight: bold;
    color: #000;
}

#prop_dat_gui {  margin-right:0px }

#prop_header {
  /*
    position: absolute;
    z-index: 0;
      top: -32px;
    right: 0px;
    */
    background-color:darkorange;
    font-weight: bold;
    color: #000;
}


.ui-cntrl-properties a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 11px;
    color: #818181;
    display: block;
    transition: 0.3s
    opacity:1;
}

.ui-cntrl-properties a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}


/*.sidenav a[data-icon="icon-import"]::before { content: url('../img/tlbr/file/import.png'); }*/


/* Sidebar Splitter
/***********************************************/
.ui-cntrl-properties hr#splitter {
    padding: 0px 10px 0px 10px;
    margin: 0px 5px 0px 5px;
    color: #555;
    background-color: #555;
    font-size:1%;
    width:200px; 
    height:1px; 
    border: 0;
}

/*
.ui-cntrl-properties .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 11px;
    margin-left: 50px;
}
*/

@media screen and (max-height: 450px) {
  .ui-cntrl-properties {padding-top: 15px;}
  .ui-cntrl-properties a {font-size: 11px;}
}

#stats { position: absolute; top:20; left: 20 }