/* Modals */
/* -------------------------------------------------------------------- */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #2e2e2e;
  margin: auto;
  padding: 10px;
  border: 1px solid #555;
  width: 550px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.75), 0 6px 20px 0 rgba(0, 0, 0, 0.75);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.75s;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: 0px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: 0px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal-title {
  color: white;
  font-size: 18px;
  text-align: left;
}

.modal-subtitle {
  color: #aaa;
  font-size: 16px;
}

.modal-description {
  color: #888;
}

.modal-splitter {
  padding: 0px 10px 0px 10px;
  margin: 0px 5px 0px 5px;
  color: #555;
  background-color: #777;
  font-size: 1%;
  height: 1px;
  border: 0;
}

.modal-header {
  padding: 2px 16px;
  /*background-color: darkorange;*/
  color: white;
  font-size: 12px;
  line-height: 32px;
}

.modal-body {
  font-family: Arial, Sans-serif;
  font-style: normal;
  font-weight: normal;
  padding: 2px 16px;
  float: left;
  color: #ccc;
}

.modal-body a {
  font-family: Arial, Sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #00bfff;
  text-decoration: none;
}

/* Open File Buttons */
.modal-btn {
  display: block; /* change this from inline-block */
  width: 200px; /* setting the width */
  margin: 0 auto; /* this will center  it */
  position: relative;
  background-color: #2e2e2e;
  border: 1px solid #555;
  padding: 5px;
  height: 48px;
  font-size: 12px;
  color: #ccc;
  vertical-align: middle;
  transition: all 0.3s ease;
  border-radius: 2px;
}

.modal-btn:hover {
  background-color: #444;
  border: 1px solid #00bfff;
  box-shadow: 4px rgba(0, 0, 0, 0.75);
}

.modal-btn[align='right'] {
  position: relative;
  right: 0px;
  vertical-align: right;
}

.modal-btn-img {
  margin-right: 5px;
  vertical-align: middle;
}

.modal-btn-img[data-icon='open_local'] {
  content: url('../img/io/open_local.png');
}
.modal-btn-img[data-icon='open_gdrive'] {
  content: url('../img/io/open_gdrive.png');
}
.modal-btn-img[data-icon='cancel'] {
  content: url('../img/btns/cancel.png');
}
.modal-btn-img[data-icon='cancel'] {
  content: url('../img/btns/cancel.png');
}
.modal-btn-img[data-icon='warning'] {
  content: url('../img/btns/warning.png');
}
.modal-btn-img[data-icon='export'] {
  content: url('../img/btns/document_export.png');
}

.modal-btn-txt {
  vertical-align: middle;
}

.modal-footer {
  padding: 2px 16px;
  /*background-color: #222;*/
  color: white;
}

.admob {
  height: 90px;
  background-color: #222;
  align-content: center;
}

/* Open File Buttons */
.modal-result-item {
  display: block; /* change this from inline-block */
  width: 95%; /* setting the width */
  margin: 3px 5px auto; /* this will center  it */
  position: relative;
  background-color: #2e2e2e;
  border: 1px solid #2e2e2e;
  padding: 5px;
  /*height: 48px;*/
  font-size: 12px;
  color: #ccc;
  vertical-align: middle;
  transition: all 0.2s ease;
  border-radius: 3px;
}

.modal-result-item:hover {
  background-color: #444;
  border: 1px solid #00bfff;
  box-shadow: 4px rgba(0, 0, 0, 0.75);
}

.modal-result-item[type='error']:hover {
  border: 1px solid #ff0000;
}

.modal-result-item[type='warning']:hover {
  border: 1px solid #f0e68c;
}

.modal-result-item-title {
  vertical-align: middle;
  font-size: 14px;
  color: white;
  position: relative;
  top: -5px;
}

.modal-result-item-file {
  font-weight: normal;
  vertical-align: middle;
  text-align: right;
  position: absolute;
  right: 10px;
  color: white;
}

.modal-result-item-txt {
  font-weight: normal;
  margin-left: 38px;
}

.modal-result-item-img {
  margin-right: 5px;
  vertical-align: middle;
}

.modal-result-item-img[data-icon='error'] {
  content: url('../img/btns/cancel.png');
}
.modal-result-item-img[data-icon='warning'] {
  content: url('../img/btns/warning.png');
}

/* Intro Modals */
/* -------------------------------------------------------------------- */
/* The Modal 50% Opace Black background */
.modal_intro {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal_intro-content {
  position: relative;
  background-color: #333;
  margin: auto;
  padding: 0;
  border: 1px solid #555;
  width: 700px;
  height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.75), 0 6px 20px 0 rgba(0, 0, 0, 0.75);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.75s;
  font-size: 11px;
  line-height: 16px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: 0px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: 0px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal_intro-content #intro_logo {
  padding: 2px 16px;
  color: white;
  position: absolute;
  left: 25px;
  top: 50px;
}
.modal_intro-content #into_title {
  padding: 2px 16px;
  color: white;
  position: absolute;
  left: 200px;
  top: 85px;
}

.modal_intro-content #intro_text_subtitle,
#intro_text_version,
#intro_text_disclaimer {
  color: #aaa;
}

.modal_intro-content #intro_text_description {
  color: #888;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal_intro-header {
  padding: 2px 16px;
  background-color: darkorange;
  color: black;
  font-size: 12px;
  line-height: 32px;
}

.modal_intro-body {
  padding: 2px 16px;
  float: left;
  color: #ffffff;
}

.modal_intro-footer {
  padding: 2px 16px;
  color: white;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
