:root {
	--main-bg-color: darkorange;
}

.Container
{
    height: 200px;
    overflow-x: auto;
}
.Content
{
    height: 300px;
}

.Flipped
{
	background-color: var(--main-bg-color);
    direction: rtl;
}
.Content
{
    direction: ltr;
}
